<section class="relative center w-100 mw-default ph3 pv5 ph4-m pv5-l ph5-l bt b--black-10 bg-brand-yellow" id="business">
  <h2 class="dib mt0 f3 f2-m f1-l fw4 f-underline lh-title">Work with me</h2>
  <p class="db f4 f3-ns mb4-ns lh-copy">
  I help businesses & new entrepreneurs plan for the future. Through my patented research and discovery process, we'll discover how to take your idea from zero to one, and bring you success. Whether you're starting a new business, or have an idea for your exisitng business, I can help you achieve your goals.
  </p>
  <a href="https://business.chrisdmacrae.com" title="Go to business.chrisdmacrae.com" target="_blank">
    <span class="dib f5 f4-l input-reset bn white bg-brand-black grow pa3 lh-solid w-auto mt2 mt0-l">Learn more about the Idea Inquest →</span>
  </a>
</section>
