<section class="relative center flex flex-wrap w-100 mw-default ph3 pv3 ph4-m ph5-l bt b--black-10 bg-white" id="newsletter">
  <ul class="w-100 w-50-l pa0 ma0 list tc tl-l">
    <li class="dib w-100 w-auto-ns pr-2-ns"><a href="{{ site.url }}/privacy-policy/" title="View privacy policy" class="link dim gray">Privacy Policy</a></li> 
  </ul>
  <p class="w-100 w-50-l pa0 ma0 mt3 mt0-ns tc tr-l">
    Made with ❤️ on a 🖥
  </p>
</section>

<script src="/assets/js/jquery-3.2.0.min.js" type="text/javascript"></script>

<!-- Drip -->
<script type="text/javascript">
var _dcq = _dcq || [];
var _dcs = _dcs || {}; 
_dcs.account = '1942376';

(function() {
  var dc = document.createElement('script');
  dc.type = 'text/javascript'; dc.async = true; 
  dc.src = '//tag.getdrip.com/1942376.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(dc, s);
})();
</script>
<!-- End Drip -->
