<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article" class="h-100">
  {% include head.html %} 
  <body class="avenir bg-brand-yellow h-100">
    <div id="page" class="bg-brand-light-gray min-h-100">
      {% include nav.html %}
      {% include hero.html title=page.title image="/assets/img/hero_avatar.png" summaries=page.summaries showSocial=true %}
      <section class="dn relative center w-100 mw-default ph3 pv5 ph4-m pv5-l ph5-l bt b--black-10 bg-brand-mid-gray" id="writing">
        <h2 class="dib mt0 f3 f2-m f1-l fw4 f-underline lh-title">Recent Writing</h2>
        {% include articleList.html %}
        <a href="{{ site.url }}/blog/" title="See all articles" class="db mbt4 f4">See all articles →</a>
      </section>
      {% if site.data.projects %}
      <section class="relative center w-100 mw-default ph3 pv5 ph4-m pv5-l ph5-l bt b--black-10 bg-brand-mid-gray" id="projects">
        <h2 class="dib mt0 f3 f2-m f1-l fw4 f-underline lh-title">My Projects</h2>
        <div class="w-100 cf">

          {% for project in site.data.projects %}
          <div class="w-50-l fl-l{% cycle ' mr4-l', '' %}">
            <div class="mt0 f4 lh-copy brand-dark-gray">{{ project.description|markdownify }}</div>
            <a href="{{ project.url }}" title="View {{ project.title }}" target="_blank" class="link dim db mt4 f4">Check it out →</a>
          </div>
          {% endfor %}

        </div>
      </section>
      {% endif %}
      <!-- {% include business.html %} -->
      <!-- <section class="relative center w-100 mw-default ph3 pv5 ph4-m pv5-l ph5-l bt b--black-10 bg-white" id="newsletter">
        {% include forms/newsletter.html %}
      </section> -->
      {% include footer.html %}
    </div>
  </body>
</html>
