<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article" class="h-100">
  {% include head.html %} 
  <body class="avenir bg-brand-yellow h-100">
    <div id="page" class="bg-brand-light-gray min-h-100">
      {% include nav.html %}
      <section class="relative center w-100 mw-default ph3 pv5 ph4-m pv5-l ph5-l bt b--black-10 bg-brand-mid-gray" id="writing">
        <h1 class="dib mt0 f3 f2-m f1-l fw4 f-underline lh-title">{{ title }}</h1>
        <div class="f4 f3-l nested-copy nested-copy-line-height nested-headline nested-headline-line-height nested-img nested-figure nested-embeds nested-hr nested-code nested-list nested-blockquote nested-dt nested-table nested-link nested-form">
          {{ page.content|markdownify }}
        </div>
      </section>
      {% include business.html %} 
      {% include footer.html %}
    </div>
  </body>
</html>
